*{
margin: 0;
padding: 0;
box-sizing: border-box;
list-style-type: none;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* ANCHOR classi generiche */

.container{
    width: 50%;
    margin: 0 auto;
}

h2{
    font-size: 35px;
}

.ext-button{
    padding: 6px 10px;
    border: none;
    font-size: 14px;
}

.blue{
    background-color: #0061ff;
    color: white;
}

.white{
    background-color: transparent;
    border: 1px solid black;
}

.ext-button:hover,
a:hover{
    filter: opacity(0.8);
    cursor: pointer;
}

/* ANCHOR HEADER */

header{
    z-index: 2;
    background-color: white;
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    padding: 15px;
    align-items: center;
    justify-content: space-around;
}

.logo img{
    display: block;
    width: 100%;
}

.header-middle-section{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.header-menu{
    display: flex;
    gap: 20px;
    padding-inline: 30px;

}

.header-menu li{
    position: relative;
}

.header-menu li:hover:after{
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -20px;
    border-bottom: 3px solid grey;
}

/* CSS MAIN */

/* ANCHOR INTRO SECTION */
.intro-section{
    margin-top: 60px;
    padding-inline:20%;
    padding-block: 10px; 
    background-color: #b4d0e7;
}

.intro-section h1{
    font-size: 80px;
    margin-block: 30px;
}

.intro-section>div{
    display: flex;
    position: relative;

}

.left-intro{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.intro-section>div figure{
    position: absolute;
    width: 65%;
    right: 0;
}

.intro-section>div figure img{
    width: 100%;
    display: block;
}

.arrow-down{
    font-size: 40px;
    background-color: transparent;
    margin-top: auto;
    border: none;
}

.arrow-down i{
    display: block;
}

/* ANCHOR content section */

.content-section{
    margin-block: 120px;
    display: flex;
    flex-direction: column;
    gap: 150px;
}

/* ANCHOR radio */

.fake-radio ul{
    display: flex;
    gap: 25px;
}

.fake-radio ul li{
    padding-left: 25px;
    display: flex; 
    position: relative;
}

.selected {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: blue;
    border-radius: 50%;
}

.notSelected{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
}

.selected::after{
    content: "";
    position: absolute;
    top: 25%;
    left: 25%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}
/* ANCHOR business section */

.business{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.piani-fatturazione{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2%;
}

.card-fatt{
    border: 1px solid lightgray;
    width: calc(100%/3 - 2%);
}

.card-fatt .intestazione{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-block: 10px;
    border-bottom: 1px solid lightgray;
    font-size: 14px;
}

.card-detail{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
}

.pay-type{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pay-type ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pay-type li{
    padding-left: 1em;
}

.pay-type h3{
    font-size: 20px;
}

.card-detail :first-child span:nth-of-type(2){
    color: lightgrey;
}

.card-detail hr{
    width: 20%;
    border-color: lightgray;
    filter: opacity(.5);
}


/* ANCHOR icone */

.pay-type li{
    position: relative;
}

.pay-type li::before{
    position: absolute;
    content: "";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    top: 2px;
    left: -5px;
}

/* prima icona card 1 */
.card-fatt:first-of-type .desc ul :first-child:before{
    content: "\f007";
}
/* prima icona card 2 */
.card-fatt:nth-of-type(2) .desc ul :first-child:before{
    content: "\f0c0";
    left: -8px;
}
/* prima icona card 3 */
.card-fatt:last-of-type .desc ul :first-child:before{
    content: "\f007";
}

/* seconda icona cards */
.desc ul :nth-child(2):before{
    content: "\f07b";
}
/* terza icona cards */
.desc ul :last-child:before{
    content: "\f1e0";
}

.pay-type:last-of-type li::before{
    content: "\f00c";
    color:#0061ff;
}

/* large card */

.large-card{
    width: 100%;
    align-items: center;
    border: 1px solid lightgray;
}

.large{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.large .ext-button{
    padding: 10px 25px;
}
.card-detail p{
    width: 70%;
    font-size: 14px;
}

/* ANCHOR partner */

.partner{
    display: flex;
}

.partner figure{
    width: 60%;
}
.partner img{
    display: block;
    width: 100%;
}

.partner div{
    padding-inline: 30px;
    width: 40%;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partner button{
    align-self: flex-start;
    padding: 10px 15px;
    font-size: 110%;
}

/* ANCHOR functions */

.functions{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: space-between;
}

.function-details{
    width: calc(100%/3 - 2%);
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    margin-top: 30px;
}


.function-details img{
    width: 100%;
}

/* ANCHOR clients */

.clients{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* ANCHOR affiliates */

.brands{
    display: flex;
    max-height: 40vw;
}

.brands>div{
    width: calc(100vw/3);
}

.side-brands{
    display: flex;
    flex-wrap: wrap;
}

.side-brands>figure{
    width: 50%;
    position: relative;
    padding-bottom: 50%;
}

.side-brands figure img{
    position: absolute;
    display: block;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
}
/* ANCHOR logo backgrounds */
#designIt{
    background-color: #a2d39b;
}
#asu{
    background-color: #61082b;
}

#uniFlo{
    background-color: #0093ce;
}

#topps{
    background-color: #ff1c1c;
}

#wbr{
    background-color: #d5001f;
}

#hearst{
    background-color: #b4d0e7;
}

#lonelyPlanet{
    background-color: #0d2481;
}

#clearCh{
    background-color: #ffd830;
}

/* ANCHOR brand centrale */
.center-brand{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 33%;
    padding: 30px;
    background-color: #f5f5f5;
    overflow: auto;
}

.center-brand svg{
    display: block;
    width: 50%;
}

.center-brand hr{
    display: block;
    width: 30%;
    height: 1px;
    border-color: lightgray;
    filter: opacity(.2);
}

/* ANCHOR free trial */

.free-trial{
    padding-block: 110px;
    background-color: #b4d0e7;
}

.free-trial .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.free-trial h2{
    width: 50%;
    color: #61082b;
}

.free-trial button{
    font-size: 20px;
    padding: 10px 30px;
}

/* ANCHOR FAQ */

.faq h2{
    margin-bottom: 40px;
}

.faq>div{
    border-top: 2px solid lightgray ;
    border-bottom: 1px solid lightgray;
    padding-block: 35px;
    position: relative;
}

.faq div i{
    position: absolute;
    right: 30px;
    top:38px;
    font-size: 10px;
}

.faq p{
    margin-top: 35px;
    display: none;
}

.faq div:hover p{
    display: block;
}


/* ANCHOR FOOTER */

footer{
    background-color: black;
    color: white;
    padding: 50px 15%;
}

footer nav{ 
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

footer h3{
    margin-block: 10px;
}

footer li{
    line-height: 35px;
    font-size: 90%;
}

footer li a{
    color: inherit;
    text-decoration: none;
}

footer hr{
    border: 1px solid #222222;
    width: 10%;
    margin-block: 30px;
}

footer span{
    color: grey;
}

footer span::before{
    content: "\f57d";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    padding-right: 10px;
}

footer span::after{
    content: "\f0d8";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 13px;
}